/* reset */
a,
button {
  all: unset;
}

.ToolbarRoot {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  padding: 10px;
  left: 5%;
  width: 100%;
  min-width: max-content;
  background-color: var(--white);
  box-shadow: 0px 2px 10px hsla(0, 0%, 0%, 0.2);
}

.ToolbarButton {
    -webkit-app-region: no-drag;
    flex: 0 0 auto;
    height: 25px;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--black);
    /* added transition */
    transition: background-color 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out;
    -webkit-transition: background-color 100ms ease-in-out;
}


.ToolbarButton:hover {
  background-color: var(--highlight1);
  box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.1);
  /* color: white; */
}
