/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  --highlight1: hsla(50, 100%, 58%, 1.0);
  --highlight2: hsla(338, 67%, 61%, 1.0);
  --highlight3: hsla(281, 56%, 40%, 1.0);
  --black: hsla(285, 5%, 17%, 1.0);
  --white: hsla(60, 0%, 100%, 1.0);
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    var(--highlight1) -29.09%,
    var(--highlight2) 51.77%,
    var(--highlight3) 129.35%
  );

}

.App {
  flex-grow: 1;
  font-family: sans-serif;
  overflow: hidden;
  /* display: flex;
  flex-direction: ;
  justify-content: center;
  align-items: center; */
}