/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
  --highlight1: hsl(17, 100%, 65%);
  --highlight3: hsl(345, 100%, 61%);
  --black: hsla(285, 0%, 15%);
  --darkgrey: hsl(276, 0%, 30%);
  --grey: hsla(285, 0%, 60%);
  --lightgrey: hsla(285, 0%, 80%);
  --white: hsla(60, 0%, 100%);
}

body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    35deg,
    var(--highlight1) -29.09%,
    /* var(--highlight2) 51.77%, */
    var(--highlight3) 129.35%
  );
  /* background: linear-gradient(120deg, rgb(249, 216, 231), rgb(206, 231, 254)); */
  /* background-image: linear-gradient(120deg, rgb(253, 216, 211), rgb(174, 192, 245)); */
}

.App {
  flex-grow: 1;
  font-family: sans-serif;
  overflow: hidden;
  /* display: flex;
  flex-direction: ;
  justify-content: center;
  align-items: center; */
}

/* .Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
} */

/* .Label {
  font-size: 15px;
  color: var(--black);
  width: 90px;
  text-align: right;
} */
